body{
    background-color: black;
    color: red;
}
header{
    text-align: center;
}
header li {
    display: flexbox;
    font-size: x-large;
}
#titre{
    background-image: url("Img/presentation_poker.jpeg");
    width: 100%;
    height: 100%;
}
td{
    background-color: whitesmoke;
    border:red solid 2px;
}
a{
    color: whitesmoke;
}